# ???.example????????
# ???????????foxmail?????user?qq??
user = xxxxxxxxx@163.com
# ????????????????
from = tester<xxxxxxxxx@163.com>
# ?????????????SMTP??????????????????
pass = XXXXXXX
# ??????SMTP??
host = smtp.163.com
# ??????SMTP??
port = 465

# ??SSL????
sslEnable = true
# ????javax.net.SocketFactory???????,?????????SMTP????
socketFactoryClass = javax.net.ssl.SSLSocketFactory
# ?????true,?????????????????????????java.net.Socket???????, ????true
socketFactoryFallback = true
# ??????????????????????????,???????456
socketFactoryPort = 465

# SMTP????????????????
timeout = 60000
# Socket?????????????????
connectionTimeout = 60000