.no-border-card {
    background: none;
}

.player {
    width: 100%;
}

.a-video-wrap {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    box-sizing: content-box;
    position: relative;
}

.a-video-wrap-left {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-right: 1.25rem;
}

.a-video-wrap-right {
    width: 20%;
}

.a-video-title {
    width: 100%;
    font-weight: 500;
    margin-bottom: 0.75rem;
    font-size: 1.35rem;
}

.a-video-info-card-wrap {
    margin-top: 1.25rem;
}

.a-video-info-card {
    display: flex;
    align-items: center;
}

.eplist {
    width: 100%;
    max-height: 640px;
    overflow-y: scroll;
}

.eplist-candy-style {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 0.5rem;
    margin-right: -0.5rem;
}

.eplist-candy-style .ep-button {
    width: calc(100% / 5 - 0.5rem);
    margin-left: 0;
}

.eplist-piano-style {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 0;

}

.eplist-piano-style .ep-button {
    width: 100%;
    margin-left: 0;
    color: var(--el-text-color-secondary);
    display: flex;
    justify-content: left;
    background: none;
    border: none;
}

.eplist-piano-style .ep-button::before {
    content: "第";
    padding-right: 0.25rem;
}

.eplist-piano-style .ep-button::after {
    content: "集";
    padding-left: 0.25rem;
}

.eplist-piano-style .ep-button.el-button--primary {
    color: var(--el-color-white);
    background-color: var(--el-color-primary);
}

.switch-eplist-view {
    transition: color 0.3s;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 20%;
}

.switch-eplist-view:hover {
    color: var(--el-color-primary);
}

/* 平板横屏，小笔记本屏幕 */
@media screen and (max-width: 1439px) {
    .a-video-wrap-left {
        width: 70%;
    }

    .a-video-wrap-right {
        width: 30%;
    }
}

/* 手机横屏、平板竖屏 */
@media screen and (max-width: 1023px) {
    .a-video-wrap-left {
        width: 65%;
    }

    .a-video-wrap-right {
        width: 35%;
    }
}

/* 手机竖屏 */
@media screen and (max-width: 767px) {
    .a-video-wrap {
        width: 100%;
        flex-direction: column;
    }

    .a-video-info-card-wrap {
        display: none;
    }

    .a-video-title {
        margin: 1rem 0;
        font-size: 0.95rem;
    }

    .a-video-wrap-left {
        width: 100%;
    }

    .a-video-wrap-right {
        width: 100%;
    }

    .eplist {
        max-height: 300px;
    }
}